.vs/
Thumbs.db
*.fvlog
*.VC.db
*.VC.VC.opendb
*.dat
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
*.scc
*.sdf
*.opensdf
*.htm
*.idb
*.dep
*[Dd]ebug*/
*[Rr]elease*/
.*~
*.*~
*.user
*.user*
build/*
GeneratedFiles*/
ipch*/
Makefile*
Makefile
build/*
x64*/
$tf*/
/src/app/BingoLive/audiotextfile/audio.txt
/src/app/BingoLiveTestAudio/audiotextfile/audio.txt
/src/app/BingoLive/log.txt
